{% extends 'base.html.twig' %}
{% block title %}AlphaPar - Client List{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href={{ asset('css/login.css') }}>
{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center">
                <h1>Client list</h1>
            </div>
        </div>
        <div class="row mb-5 mt-3">
            <div class="col-12">
                <a href="{{ path('homepage') }}" class="btn btn-secondary float-left mr-3">Back</a>
                <a href="{{ path('clientCreate') }}" class="btn btn-primary float-right mr-3">Create a client</a>
            </div>
        </div>
        {% if clients|length is empty %}
            <div class="row">
                <div class="col-12">
                    <h1 class="text-center">Aucun clients en base</h1>
                </div>
            </div>
        {% else %}
            <div class="row">
                <table class="table">
                    <thead>
                    <tr>
                        <th class="text-center">#</th>
                        <th class="text-center">Firstname</th>
                        <th class="text-center">Lastname</th>
                        <th class="text-center">E-Mail</th>
                        <th class="text-center">Address</th>
                        <th class="text-center">City</th>
                        <th class="text-center">Modify Client</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for client in clients %}
                        <tr>
                            <td class="text-center">{{ client.id }}</td>
                            <td class="text-center">{{ client.firstname }}</td>
                            <td class="text-center">{{ client.lastname }}</td>
                            <td class="text-center">{{ client.email }}</td>
                            <td class="text-center">{{ client.address }}</td>
                            <td class="text-center">{{ client.city }}</td>
                            <td class="text-center"><a href="{{ path('clientModify',{ id: client.id }) }}" class="btn btn-primary btn-block">Modify</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>
{% endblock %}